<h1 align="center">Hi, I'm Daniel</h1>

### About Me

- Husband and father
- I enjoy chess, sci-fi/fantasy books, and playing guitar
- Connect with me on [LinkedIn](https://linkedin.com/in/dannylongeuay)

<hr/>

### GitHub Stats

<p align="center">
  <img src="./profile/stats.svg" alt="GitHub Stats" height="165" />
  <img src="./profile/top-langs.svg" alt="Top Languages" />
</p>

<hr/>

### Pinned Repositories

<p align="center">
  <a href="https://github.com/dannylongeuay/cyberdan-blog">
    <img src="./profile/pin-cyberdan-blog.svg" alt="cyberdan-blog" width="400" />
  </a>
  <a href="https://github.com/dannylongeuay/cyberdan-c4-ui">
    <img src="./profile/pin-cyberdan-c4-ui.svg" alt="cyberdan-c4" width="400" />
  </a>
</p>
<p align="center">
  <a href="https://github.com/dannylongeuay/cyberdan-infinite-shift">
    <img src="./profile/pin-cyberdan-infinite-shift.svg" alt="cyberdan-infinite-shift" width="400" />
  </a>
  <a href="https://github.com/dannylongeuay/cyberdan-chess-ui">
    <img src="./profile/pin-cyberdan-chess-ui.svg" alt="cyberdan-chess-ui" width="400" />
  </a>
</p>

<hr/>
{{- if .OnThisDay.Available}}

### On This Day in History

> **{{.OnThisDay.Year}}** - {{.OnThisDay.Text}}{{if .OnThisDay.PageURL}} ([Read more]({{.OnThisDay.PageURL}})){{end}}

<hr/>
{{- end}}
{{- if .LeetCode.Available}}

### LeetCode Daily Challenge

| Problem | Difficulty |
|---------|------------|
| [{{.LeetCode.Title}}]({{.LeetCode.URL}}) | {{.LeetCode.Difficulty}} |

<hr/>
{{- end}}

<p align="center"><sub>Last updated: {{.Timestamp}}</sub></p>
